* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("/fonts/Poppins-Regular.otf");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/fonts/Poppins-SemiBold.otf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("/fonts/Poppins-Bold.otf");
}
@font-face {
  font-family: "Chillax-Medium";
  src: url("/fonts/Chillax-Medium.ttf");
}
@font-face {
  font-family: "MonumentExtended-Regular";
  src: url("/fonts/MonumentExtended-Regular.otf");
}
@font-face {
  font-family: "MonumentExtended-Ultrabold";
  src: url("/fonts/MonumentExtended-Ultrabold.otf");
}
.wrapper {
  max-width: 1280px;
  position: relative;
  padding: 0 40px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Poppins-Regular";
}
h1 {
  font-family: "MonumentExtended-Ultrabold";
  font-weight: 800;
  font-size: 52px;
  letter-spacing: 2px;
  color: #fff;
}
h1 span {
  background: radial-gradient(
    100% 100% at 50% 0%,
    #fffb9d 14.47%,
    #ffd912 50.07%,
    #eba900 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
button {
  font-family: "Chillax-Medium";
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
}
button:hover {
  transform: scale(1.08);
}
[data-aos="range-20"] {
  width: 4%;
  transition-property: width;
  &.aos-animate {
    width: 20%;
  }
}
[data-aos="range-25"] {
  width: 4%;
  transition-property: width;
  &.aos-animate {
    width: 25%;
  }
}
[data-aos="range-15"] {
  width: 4%;
  transition-property: width;
  &.aos-animate {
    width: 15%;
  }
}
[data-aos="range-10"] {
  width: 4%;
  transition-property: width;
  &.aos-animate {
    width: 10%;
  }
}
