.container {
  background: #0a0a0b;
}
.navbar {
  height: 80px;
  padding-top: 24px;
}
.navbar .nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav_wrapper .nav_content_wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
}
.navbar .nav_wrapper .nav_content_wrapper nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar .nav_wrapper .nav_content_wrapper nav p {
  color: rgba(255, 255, 255, 0.7);
}
.navbar .nav_wrapper .nav_content_wrapper button {
  color: #102001;
  background: radial-gradient(
    100% 100% at 50% 0%,
    #d4ff9d 14.47%,
    #89ff12 50.07%,
    #75eb00 100%
  );
  border-radius: 40px;
  padding: 12px 36px;
}
.hero {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 52px;
  padding-bottom: 80px;
}
.hero h1 {
  max-width: 640px;
  font-family: "Chillax-Semibold";
  font-weight: 600;
  font-size: 56px;
  text-align: center;
  letter-spacing: 1px;
  color: #fffeee;
}
.hero .taglines_wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}
.hero .taglines_wrapper .tagline {
  display: flex;
  align-items: center;
  gap: 8px;
}
.hero .taglines_wrapper .tagline p {
  color: #fff;
  opacity: 0.5;
}
.hero button {
  font-size: 18px;
  color: #382f03;
  background: radial-gradient(
    100% 100% at 50% 0%,
    #fffb9d 14.47%,
    #ffd912 50.07%,
    #eba900 100%
  );
  border-radius: 80px;
  padding: 16px 32px;
}
